/* ========================================================
メインコンテンツ、左カラムを含むラッパー
=========================================================*/

body{
	>.main-container {
		max-width: $w-content;
		margin: 0 auto $mgbl;
	}
}

.main-container {
	display: flex;
	flex-direction: column;
	padding: $mg;
	// トピックパス
	> .breadcrumb-container {
		margin-bottom: $mg * 2;
	}
	// 記事領域
	> .entrylist-contaier {
	}
	// サイドバー領域
	> .sidebar-container {
	}
}
