/*#########################################################

サイトのフッタ

#########################################################*/
body{
	>.site-footer{
		max-width: $w-content;
		margin: auto;
	}	
}
.site-footer{
	padding: $mg;
}
