/*#########################################################

ページヘッダ

#########################################################*/
body{
	>.site-header {
		max-width: $w-content;
		margin: auto;
	}
}
.site-header {
	padding: calc(5 * #{$mg}) $mg*2;
	text-align: center;
		// ロゴ
	.sitelogo {
		display: inline-block;
		margin-bottom: $mg * 2;
		font-size: $unit * 2.5;
		font-weight: bold;
		a {
			display: block;
			text-decoration: none;
		}
	}
}
