/* ========================================================
ウィジェット
=========================================================*/
.widget-container {
	padding: $mg;
	> ul {
		list-style: none;
	}
	&.-dynamic{
		display: flex;
		justify-content: space-between;
		.widget{

		}
	}
}
